.card {
  position: relative;
  width: 323px;
}

.card__container {
  display: flex;
}

.card__title {
  padding: 2px 12px;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
  background-color: #ffffff;
  width: fit-content;
  height: 24px;
  border-radius: 4px;
  justify-self: anchor-center;
  align-content: center;
  height: 20px;
}

.card__img {
  border-radius: 12px;
  width: 323px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__like-btn,
.card__like-btn_active {
  width: 18px;
  height: 15px;
  position: absolute;
  cursor: pointer;
  top: 17px;
  right: 100px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-btn {
  background-image: url(../../images/unlike-button.svg);
}

.card__like-btn_active {
  background-image: url(../../images/like-button.svg);
}
