.form__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0s linear 0.5s;
}

.form__modal.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.form__modal-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 436px;
  width: 496px;
  border-radius: 20px;
  position: relative;
  padding: 28px;
  box-sizing: border-box;
}

.form__modal-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.form__modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url(../../images/delete.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
}

.form__modal-inputs {
  display: flex;
  flex-direction: column;
}

.form__modal-input {
  width: 440px;
  border: 1px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  height: 24px;
}

.form__modal-input:focus {
  outline: 1px solid black;
}

.form__modal-label {
  font-weight: 700;
  font-size: 16px;
  margin: 24px 0 8px;
}

.form__modal-error {
  margin: 15px 0 0;
}

.form__modal-fieldset {
  padding: 0;
  margin: 24px 0 32px;
  border: none;
}

.form__modal-legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.form__modal-selections {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
  color: gray;
}

.form__modal-selection {
  cursor: pointer;
}

.form__modal-selections .form__modal-selection:checked ~ .form__modal-choice {
  color: black;
}

.form__modal-choice {
  padding-left: 8px;
}

.form__modal-submit {
  width: 124px;
  height: 36px;
  position: absolute;
  bottom: 36px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__modal-submit:hover {
  background-color: #000000;
}
