.item__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0s linear 0.5s;
}

.item__modal.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.item__modal-container {
  background: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 498px;
  height: 610px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.item__modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url(../../images/delete.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.item__modal-footer {
  background-color: #ffffff;
  margin-left: 32px;
}

.item__modal-text {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
}

.item__modal-title {
  margin: 20px 0 12px;
  font-size: 20px;
  font-weight: 700;
}

.item__modal-delete {
  color: #ff4d00;
  font-size: 20px;
  font-weight: 700;
  width: 98px;
  cursor: pointer;
  position: absolute;
  bottom: 62px;
  right: 20px;
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  white-space: nowrap;
}
